/ @wangxin.colin @zhangshuo.0 @jingsonggao

/.codebase @wangxin.colin @zhangshuo.0 @jingsonggao
samantha

/samantha @wangxin.colin @zhangshuo.0 @jingsonggao

/sami_ai @wangxin.colin @zhangshuo.0 @jingsonggao

/recipes

/apps @wangxin.colin @zhangshuo.0 @huwenchao.hu @xieshuangyi

/apps/bigmusic/umm/ar @andrew.shaw @qingqing.huang
/apps/bigmusic/umm/diffusion @weitsung.lu
/apps/bigmusic/umm/umm @qingqing.huang
/apps/bigmusic/umm/vocoder

/apps/bigtts/umm/ar @jiawei.chen @kainan.peng
/apps/bigtts/umm/diffusion @jiadongya @congjian.tts
/apps/bigtts/umm/umm @litang.frank
/apps/bigtts/wvae/ar  @huangzhiying.92 @mingbo.ma @panjunjie.jeff @lijiaxin.drany01
/apps/bigtts/wvae/vocoder @liuzhengxi.nico