/ @wangxin.colin @zhangshuo.0 @xieshuangyi

/.codebase @wangxin.colin @zhangshuo.0 @xieshuangyi
samantha

/samantha @wangxin.colin @zhangshuo.0 @xieshuangyi

/sami_ai @wangxin.colin @zhangshuo.0

/recipes

/apps @wangxin.colin @zhangshuo.0 @xieshuangyi

/apps/bigmusic @zhangshuo.0 @xieshuangyi @yilinzhang @rui.xia @weituohao @chenjitong.1 @qinxin.025 @huangzhongyi.123 @ningziqian @zoupei @zhaohang.ai @xuling.9427 @yangyifeng.jervint @yiqing.lu @andrew.shaw @bochenli

/apps/bigmusic/umm/ar @andrew.shaw
/apps/bigmusic/umm/diffusion @weituohao @zhangshuo.0
/apps/bigmusic/umm/umm @ju-chiang.wang
/apps/bigmusic/umm/vocoder @weituohao @zhangshuo.0

/apps/bigtts/umm/ar @jiawei.chen @chenkuan.7116
/apps/bigtts/umm/diffusion @jiadongya @caorong.01
/apps/bigtts/umm/umm @litang.frank
/apps/bigtts/wvae/ar  @huangzhiying.92 @panjunjie.jeff @lijiaxin.drany01
/apps/bigtts/wvae/vocoder @liuzhengxi.nico
/apps/bigtts/speechdit @jiadongya @caorong.01 @chenkuan.7116

/apps/bigtts/audiogen @zhuangxiaobin