/ @wangxin.colin @zhangshuo.0

/.codebase @wangxin.colin @zhangshuo.0
samantha

/samantha @wangxin.colin @zhangshuo.0

/sami_ai @wangxin.colin @zhangshuo.0

/recipes

/apps @wangxin.colin @zhangshuo.0 @huwenchao.hu @xieshuangyi

/apps/bigmusic/umm/ar @andrew.shaw @qingqing.huang
/apps/bigmusic/umm/diffusion @weitsung.lu @weituohao @zhangshuo.0
/apps/bigmusic/umm/umm @qingqing.huang @lamtharn.hantrakul @ren.yi
/apps/bigmusic/umm/vocoder @weitsung.lu @weituohao @zhangshuo.0

/apps/bigtts/umm/ar @jiawei.chen @kainan.peng
/apps/bigtts/umm/diffusion @jiadongya @congjian.tts
/apps/bigtts/umm/umm @litang.frank
/apps/bigtts/wvae/ar  @huangzhiying.92 @mingbo.ma @panjunjie.jeff @lijiaxin.drany01
/apps/bigtts/wvae/vocoder @liuzhengxi.nico