--index-url https://bytedpypi.byted.org/simple
einops
scipy==1.7.3
torch_complex==0.4.3
vector_quantize_pytorch==1.1.2
encodec==0.1.1
byted-frechet-audio-distance==0.2.1
matplotlib
librosa
rotary_embedding_torch
nnAudio
transformers==4.29.1