---

yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'
extends: default
rules:
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values: ['True', 'False']
    check-keys: True
ignore: |
  recipes/mss/torch-museval
  recipes/asr_tts_qa
  recipes/llm_asr
  recipes/mae
  recipes/mulan
  recipes/soundstream
  recipes/speartts
  recipes/speech_qa
  recipes/valle
  recipes/mariana_tasks
  recipes/text2semantic
  recipes/mir_benchmark
  recipes/musicfm
  recipes/s3prl
  recipes/umm
  recipes/beat
  recipes/chord
  recipes/structure
