--index-url https://bytedpypi.byted.org/simple
torch_complex
rotary_embedding_torch
transformers==4.30.2 # for MuLan 110
phonemizer
ffmpeg
bytedeuler
confusables
fsspec>=2023.9.1 # fix use_pipe=False for parquet files
mir_eval~=0.7.0
Cython>=0.29.32
madmom>=0.16.1
bytedance.easycycle
ffmpeg-normalize
thop
colorednoise
numpy<1.24  # for madmom
fastdtw
pyworld