--index-url https://bytedpypi.byted.org/simple
torch_complex
rotary_embedding_torch
transformers
phonemizer
ffmpeg
fsspec>=2023.9.1 # fix use_pipe=False for parquet files
mir_eval~=0.7.0
Cython>=0.29.32
madmom>=0.16.1
