--index-url https://bytedpypi.byted.org/simple

bytedeuler
bytedunicorn
bytedtos
bytedance.easycycle
numpy==1.23.5
torch_complex==0.4.3
encodec==0.1.1
rotary_embedding_torch
nnAudio
simplejson
jsonschema
phonemizer
confusables
thop
madmom
